repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
            stages: [commit]

          - id: check-yaml
            stages: [commit]

          - id: debug-statements
            stages: [commit]

          - id: name-tests-test
            stages: [commit]

    - repo: https://github.com/psf/black
      rev: 23.9.1
      hooks:
          - id: black
            stages: [push]

    - repo: https://github.com/hhatto/autopep8
      rev: v2.0.4
      hooks:
          - id: autopep8
            stages: [commit]

    - repo: https://github.com/PyCQA/flake8
      rev: 6.1.0
      hooks:
          - id: flake8
            stages: [push]
